%h3.section-header
  All projects
  = link_to 'New Project', new_admin_project_path, class: 'btn btn-primary pull-right'

%table.table.table-hover.table-striped
  %thead
    %tr
      %td Name
      %td Start At
      %td
  %tbody
    - collection.each do |project|
      %tr
        %td= project.name
        %td= "#{project.start_month.to_s.rjust(2, '0')}/#{project.start_year}"
        %td
          = link_to 'Edit', edit_admin_project_path(project)
          = link_to 'Delete', [:admin, project], method: :delete, data: { confirm: 'Are you sure?' }
